@import url("https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Henny+Penny&family=Raleway&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
